Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
data = [4,8,15,16,23,42]
print(pd.Series(data))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
x = pd.Series(['pw', 'ineuron', 'skills'])

print(x)

0         pw
1    ineuron
2     skills
dtype: object

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


Ans: Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size can be changed.
You can also think of it as a dictionary of Series objects. The data parameter can take any of the following data types: Dictionary (dict) of – 1D ndarray, lists, or Series

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?


Ans:-Head and Tail. To see the data frame we can use df. ...
Shape, Size and Info. Two most basic functions after reading data is to know the

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:-Only DataFrame and panel is mutalble

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire
Age
25
30
27

Gender
Female
Male
Female

In [5]:
data = [{"Alice" , "25" , "Female"} , {"Bob" , "30" , "Male"} , {"Claire" , "27" , "Female"}]

In [6]:
df = pd.DataFrame(data, columns=["Name","Age","Gender"])

In [7]:
df

     Name     Age  Gender
0      25  Female   Alice
1    Male     Bob      30
2  Claire      27  Female

Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans:- You can create a DataFrame from multiple Series objects by adding each series as a columns. 
By using concat() method you can merge multiple series together into DataFrame.

In [8]:
dat1 = [1,2,3,4,5,6]
dat2 = [1,6,7,8,9,9]

pd.DataFrame(dat1,dat2)

   0
1  1
6  2
7  3
8  4
9  5
9  6